<?xml version="1.0"?>
<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/brick11.obj" scale=".005 .005 .005"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/brick11.obj" scale=".005 .005 .005"/>
      </geometry>
    </collision>
    <inertial>
      <density value="567.0"/>
    </inertial>
  </link>
</robot>
