<?xml version="1.0"?>
<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/cube_multicolor.obj" scale=".05 .05 .05"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <!-- <box size="0.05 0.05 0.05"/> -->
        <mesh filename="meshes/cube_multicolor.obj" scale=".05 .05 .05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.026"/> 
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
      <density value="567.0"/>
    </inertial>
  </link>
</robot>
